<sui-view class="row" view-id="{{'editEmployeeView' + employee.id}}" show-title="false" hide-panel-border="true" view-context-object="employee">
    <sui-editor-dialog dialog-title="(employee.id === -1 ? 'New' : 'Edit') + ' Employee : ' + employee.name" dialog-ok-handler="ok()" dialog-cancel-handler="cancel()" dialog-reset-handler="reset()" dialog-command-name="updateEmployeeInternal" dialog-extra-buttons="editEmployeeExtraButtons" dialog-api="dialogAPI">
        <ng-include src="'resources/demo-app/templates/html/forms/employeeForm.html'"></ng-include>
    </sui-editor-dialog>
</sui-view>
