<div ng-controller="ChatWorkspaceCtrl">
    <sui-view show-title="true" view-id="chatView" expand-full-size="true" view-title="Chat demo" hide-panel-border="false" command-list="chatCommands">
        <div class="padding-8 col-sm-6">
            <p>Send Message To :
                <input type="text" style="width:250px;" ng-model="chat.targetUser"></input>
                <p/>
                <textarea rows="4" style="width:400px;" ng-model="chat.message"></textarea>
                <p/>
                <button ng-disabled="isSendDisabled()" class="btn btn-primary" ng-click="sendMessage()">Send</button>
            </p>
        </div>
        <div class="padding-8 col-sm-6">
            <p>Incoming Messages
                <p/>
                <textarea rows="18" style="width:400px;" readonly ng-model="chat.incomingMessages"></textarea>
            </p>
        </div>

    </sui-view>
</div>
