<div class='home-page-text'>
  <h2><u>Welcome To sUI Demo Application</u></h2>


  <br></br>
  <h4><u>What's New</u></h4>
  <ul>
  	<li><p>15 Aug 2014 - Initial version uploaded to GitHub.</p></li>
  </ul>
</div>