<div class="modal-header">
  <h4 class="modal-title">Help - {{suiService.getApplicationContext().title}}</h4>
</div>

<div class="modal-body">
  <h4><i class="glyphicon glyphicon-warning-sign"></i>&nbsp;Under Construction...</h4>
</div>
  <div class="app-info standard-padding">
    <div class="app-copyright">
      <span>Copyright ©2014 - 2015 sUI. All Rights Reserved.</span>
    </div>
  </div>  
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="$close()">OK</button>
</div>  