<div class="login-left ng-scope" ng-controller="SUIApplicationAuthenticationController">
    <div class="home-logo">
        <img src="resources/demo-app/images/sUI.png">
        <h1 class="login-text-white">sUI Demo</h1>
    </div>

    <div class="login-container">
        <form role="form" class="form-horizontal  ng-pristine ng-invalid ng-invalid-required">
            <div class="form-group login-margin-right-zero" ng-class="{'has-error': error}">
                <label class="login-label-column login-text-white ng-scope" translate="" for="username">Username</label>
                <div class="login-input-column">
                    <input autofocus="" type="text" class="form-control ng-pristine ng-valid" name="username" id="username" ng-model="userPrincipal.username" placeholder="Enter username">
                </div>
            </div>
            <div class="form-group login-margin-right-zero" ng-class="{'has-error': error}">
                <label class="login-label-column login-text-white ng-scope" translate="" for="password">Password</label>
                <div class="login-input-column">
                    <input ng-keyup="$event.keyCode == 13 ? login() : null" type="password" class="form-control ng-pristine ng-valid" name="password" id="password" placeholder="Enter password" ng-model="userPrincipal.password" autocomplete="off">
                </div>
            </div>
            <div ng-repeat="e in command['login'].errors" class="error" style="margin-top: -10px; margin-bottom:   10px; padding-left: 83px">
                <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp; {{e}}
            </div>
            <div class="login-btn-container">
                <button translate="" type="submit" name="login" class="btn btn-primary ng-scope" ng-click="suiService.executeCommand('login', null, {event:$event, prompt:'Logging In...'})">Login</button>
            </div>
            <div class="app-info">
                <div class="app-copyright">
                    <span>Copyright ©2014 - 2015 sUI. All Rights Reserved.</span>
                </div>
            </div>
        </form>
    </div>
</div>
