<sui-form form-name="employeeForm" auto-validate>
    <sui-form-item item-auto-focus=true item-label="Name" item-data-model="employee.name" item-name="name" item-type="text" item-required=true>
    </sui-form-item>

    <sui-form-item item-auto-focus=true item-label="Type" item-data-model="employee.type" item-name="type" item-type="select" item-required=true item-options="type.name as type.value for type in empService.employeeTypes">
    </sui-form-item>

    <sui-form-item item-auto-focus=true item-label="Manager" item-data-model="employee.managerId" item-name="managerId" item-type="select" item-required=false item-options="emp.id as emp.name for emp in allManagers">
    </sui-form-item>

    <!-- TODO ::: -->

    <div class="form-group form-no-left-right-margin">
        <label class="col-sm-3 control-label ng-scope" translate="" for="employee-dob">Date of Birth</label>
        <div class="col-sm-9">
            <p class="input-group">
                <input type="text" is-open="calendarOpened" show-button-bar="false" datepicker-popup="{{dateFormat}}" datepicker-options="dateOptions" class="form-control ng-pristine ng-valid" name="dob" id="dob" ng-model="employee.dob" show-weeks="false" placeholder="Select date of birth" init-date="employee.dob" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openCalendar($event)"><i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
        </div>
    </div>

    <div class="form-group form-no-left-right-margin">
        <label class="col-sm-3 control-label ng-scope" translate="" for="employee-sex">Sex</label>
        <div class="col-sm-9">

            <input type="radio" id="sex" name="sex" value="MALE" ng-model="employee.sex" />&nbsp;
            <span>Male</span>
            <input type="radio" id="sex" name="sex" value="FEMALE" ng-model="employee.sex" />&nbsp;
            <span>Female</span>
            <input type="radio" id="sex" name="sex" value="NA" ng-model="employee.sex" />&nbsp;
            <span>NA</span>

        </div>
    </div>

</sui-form>
