[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

a,
.pagination,
.carousel,
.panel-title a,
.nav-tabs li,
.nav-pills li {
    cursor: pointer;
}

.disable-link {
    pointer-events: none;
}

.glyphicon-none:before {
    content: "\2122";
    color: transparent !important;
}

.header-command-icon {
    height: 16px;
    width: 16px;
}

.ngViewport.ng-scope {
    height: auto !important;
    overflow-y: hidden;
}

.ngTopPanel.ng-scope,
.ngHeaderContainer {
    width: auto !important;
}

html {
    height: 100%;
    width: 100%;
}

body {
    min-height: 100%;
}

.regular-font-strict {
    font-size: 14px !important;
}

.hyper-link {
    cursor: pointer;
    color: #428bca;
    text-decoration: none;
}

.hyper-link:hover,
.hyper-link:focus {
    color: #2a6496;
    text-decoration: underline;
}

.mouse-pointer {
    cursor: pointer;
}

.nv-legend-symbol {
    cursor: default !important
}

.nv-legend-text {
    cursor: default !important
}

.disabled-button,
.disabled-button:hover,
.disabled-button:focus {
    color: #ccc !important;
    cursor: default !important;
    pointer-events: none !important;
}

.disabled-button-hidden,
.disabled-button-hidden:hover,
.disabled-button-hidden:focus {
    display: none;
    color: #ccc !important;
    cursor: default !important;
    pointer-events: none !important;
}

.disabled-link,
.disabled-link:hover,
.disabled-link:focus {
    color: #ccc !important;
    background-color: transparent !important;
    cursor: default !important;
    pointer-events: none !important;
}
.display-inline {
    display: inline;
}
.display-inline-block {
    display: inline-block;
}

.display-inline-block-strict {
    display: inline-block !important;
}

.text-top {
    vertical-align: top;
}

.text-middle {
    vertical-align: middle;
}

.text-bottom {
    vertical-align: bottom;
}

.text-top-strict {
    vertical-align: top !important;
}

.text-middle-strict {
    vertical-align: middle !important;
}

.text-bottom-strict {
    vertical-align: bottom !important;
}

.text-left-strict {
    text-align: left !important;
}

.text-center-strict {
    text-align: center !important;
}

.text-right-strict {
    text-align: right !important;
}

.no-border {
    border: 0 !important;
}

.no-margin {
    margin: 0px !important;
}

.no-padding {
    padding: 0px !important;
}

.padding-0 {
    padding: 0px !important;
}

.padding-2 {
    padding: 2px !important;
}

.padding-4 {
    padding: 4px !important;
}

.padding-8 {
    padding: 8px !important;
}

.padding-16 {
    padding: 16px !important;
}

.padding-l-4 {
    padding-left: 4px !important;
}

.padding-r-4 {
    padding-right: 4px !important;
}

.padding-lr-4 {
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.padding-lr-8 {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.padding-lr-16 {
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.padding-tb-4 {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.padding-tb-8 {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.padding-tb-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.margin-2 {
    margin: 2px !important;
}

.margin-4 {
    margin: 4px !important;
}

.margin-8 {
    margin: 8px !important;
}

.margin-16 {
    margin: 16px !important;
}

.scrollable {
    overflow: auto;
}

.chart-horizontal-label {
    font-size: 12px;
    position: absolute;
    text-align: center;
    overflow: hidden;
    vertical-align: bottom;
    width: 100%;
    padding: 0;
}

.chart-vertical-label {
    font-size: 12px;
    position: absolute;
    text-align: center;
    overflow: hidden;
    padding: 0;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.text-orientation-vertical {}
/* Charts */

.background {
    fill: none;
    pointer-events: all;
}

#states {
    fill: #aaa;
}

#states .active {
    fill: orange;
}

#state-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 1px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

.chartTooltip {
    fill: black;
}

.chartTooltipBox {
    stroke: #000;
    fill: #FF0;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bar {
    fill: steelblue;
}

.x.axis path {
    display: none;
}

.legend {
    display: inline;
    border-collapse: collapse;
    border-spacing: 0px;
}

.legendContainer {
    vertical-align: top;
    padding-top: 8px;
}

.leftBorder {
    border-left: 1px solid #ddd;
}

.legend td {
    padding: 4px 5px;
    vertical-align: bottom;
}

.legendFreq,
.legendPerc {
    text-align: right;
    width: 50px;
}
/* Charts */

.body-main {
    background: rgba(255, 255, 255, 1);
    height: 100%;
    width: 100%;
}

.full-size-noscroll {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.full-size {
    height: 100%;
    width: 100%;
}

.workspace-switcher {
    margin: 0;
    width: 100%;
    padding-top: 56px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    background: rgba(255, 255, 255, 1);
}

.nav-pills > li > a,
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
    color: #777;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: #4d4d4d;
}

.tab-content-pane {
    position: absolute;
    height: auto;
    width: auto;
    margin-top: 50px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    border-top: 0;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0px;
    overflow: auto;
}

.tab-content-pane-pills {
    position: absolute;
    height: auto;
    width: auto;
    margin-top: 58px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 5px 5px 5px 5px;
    overflow: auto;
}

.header-tab-pills {
    margin-right: 4px;
    margin-bottom: 8px;
}

.worspace-switcher-tabs,
.workspace-view {
    padding: 8px;
    padding-bottom: 0px;
}

.main-view-content-pane {
    display: block;
    position: absolute;
    height: auto;
    border-top: 0;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.main-view-content-pane-pills {
    border-top: 1px solid #ddd;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.main-view-left-content-pane {
    margin-top: 64px;
    border-top: 1px solid #ddd;
    border-radius: 5px 5px 5px 5px;
    margin-left: 8px;
    margin-right: 0px;
}

.nav-tabs {
    margin-bottom: -1px;
}

.sui-toolbar-button {
    padding: 2px 6px;
}

.sui-panel {
    display: block;
    position: relative;
    margin: 8px;
}

.sui-panel-no-border {
    margin: 0px;
}

.sui-view-panel-heading {
    padding: 4px;
    padding-left: 8px;
    min-height: 34px;
    line-height: 26px;
}

.sui-view-panel-body {}

.application-row {
    margin-left: 0;
    margin-right: 0;
}

.panel-body {
    padding: 0px;
}

.standard-padding {
    padding: 8px;
}

.standard-padding-4 {
    padding: 4px;
}

.busy-panel {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.busy-overlay-panel {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 0.6;
    background-color: #000;
    cursor: progress;
    z-index: 940;
}

.busy-model-dialog {
    position: relative;
    opacity: 1;
    z-index: 950;
}

.busy-progress-bar {
    height: 26px;
}

.busy-progress-bar-percent-text {
    line-height: 26px;
    font-weight: bold;
    font-size: 14px;
}

.busy-progress-generic {
    text-align: center;
}

.busy-progress-generic-icon {
    height: 26px;
    width: 26px;
}

.busy-cancel-button {
    width: 78px;
    height: 26px;
    font-size: 14px;
}

.sui-view-busy-modal-dialog {
    max-width: 600px;
    width: auto;
    margin-top: 60px;
}

.ngVerticalBar {
    height: 100%;
}

.ngHeaderSortColumn {
    border-bottom: 1px solid #d4d4d4;
}

.form-horizontal .form-no-left-right-margin {
    margin-left: 0;
    margin-right: 0;
}

.form-horizontal .form-no-left-right-padding {
    padding-left: 0;
    padding-right: 0;
}

.gridStyle {
    position: relative;
    border: 1px solid rgb(212, 212, 212);
    height: 100%;
    width: 100%;
    /*height: calc(100% - 30px);*/
}

.loadingAnim {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url('../images/busy_32.gif');
}

.uiGridStyle {
    border: 1px solid rgb(212, 212, 212);
    width: 100%;
    height: 100%;
}

.baseGridStyle {
    border: 1px solid rgb(212, 212, 212);
}

.grid-header-icon {
    height: 16px;
    top: 10px;
}

.form-horizontal .control-label {
    text-align: left;
}

.bgtext {
    position: relative;
    height: 30px;
}

.bgtext:after {
    content: "\2b";
    position: absolute;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    top: 0;
    left: 0;
}

.red {
    color: red;
}

.green {
    color: green;
}

.small-font {
    font-size: small;
}

.bold {
    font-weight: bold;
}

.sui-form-dropdown-arrow {
    background-color: #FFF;
    cursor: pointer;
}

.form-control[readonly] {
    cursor: default;
    background-color: #FFF;
}

.sui-date-picker {
    z-index: 20000;
    position: absolute;
}

.error {
    font-size: small;
    color: red;
}

.form-error {
    font-weight: bold;
    color: red;
}
.sui-form-item-info-container,
.sui-form-item-warning-container,
.sui-form-item-error-container {
    padding-top: 8px;
}

.sui-form-item-hint-container {
    padding-top: 4px;
    font-size: 13px;
    color: #888;
}

.sui-chart-tooltip {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 1.0);
    padding: 1px;
    border: 1px solid rgba(0, 0, 0, .2);
    z-index: 4000;
    font-family: Arial;
    font-size: 13px;
    text-align: left;
    pointer-events: none;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sui-editor-modal-body {
    padding-bottom: 8px;
}

.sui-editor-modal-footer {
    margin: 0;
}

.sui-property-field-container {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.sui-property-viewer-item {
    margin-left: 2px;
    margin-right: 2px;
    height: 100%;
}

.sui-property-viewer-odd-item {
    background-color: #fff;
}

.sui-property-viewer-even-item {
    background-color: #f3f3f3;
}

.sui-editor-dialog-extra-button-container {
    margin-right: 5px;
}

.generic-tab-content-pane {
    border-top: 0;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    overflow: auto;
}
