/********* Imported Fonts **********/

.home-logo {
    padding-left: 40px;
    padding-top: 20px;
}

.home-logo-text {
    color: white;
    font-family: calibribold;
    font-size: 40px;
    vertical-align: middle;
    padding-left: 15px;
}

.login-container {
    background: rgba(0, 0, 0);
    height: 100%;
    padding-top: 40px;
    padding-left: 55px;
    min-width: 450px;
    margin-top: 20px;
}

.login-left {
    float: left;
    width: 50%;
}

.login-text-white {
    color: white;
}

.login {
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Courier New';
    font-weight: bold;
    font-variant: small-caps;
    color: green;
}

.error {
    font-size: small;
    color: red;
}

.login-input-column {
    display: inline;
    float: left;
    width: 300px;
}

.login-label-column {
    padding-top: 8px;
    display: inline;
    height: 34px;
    float: left;
    width: 100px;
    margin-left: 0;
}

.login-btn-container {
    width: 386px;
    padding-left: 84px;
}

.login-margin-right-zero {
    margin-right: 0px !important;
}

.beta-message {
    color: white;
    background: #9B2B2A;
    padding: 10px;
}

.register-message {
    margin-bottom: 20px;
    display: inline-block;
}

.register-form-group {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.login-info-container {
    width: 50%;
    float: right;
    background: rgba(0, 0, 0);
    color: white;
    padding-top: 90px;
    padding-left: 20px;
    padding-right: 30px;
}

.login-info-title {
    font-size: 28px;
    text-align: center;
    font-family: gloria_hallelujahregular;
    padding-bottom: 10px;
}

.login-info-body {
    padding-bottom: 20px;
}

.login-info-header {
    font-family: calibriregular;
}

.oauth {
    display: inline;
    float: right;
}

.app-copyright {
    color: rgb(184, 184, 184);
    font-size: 10pt;
}

.app-privacy {
    padding-left: 5px;
    font-size: 10pt;
}

.app-info {
    padding-top: 50px;
}

.body-login {
    background: rgba(0, 0, 0, 1);
}

.home-page-text {
    padding: 30px;
    color: inherit;
    background-color: #fff;
    height: 100%;
    overflow: auto;
}

.workspace-text {
    background-color: #fff;
}

.cell-green {
    background-color: green;
    color: white;
}

.cell-orange {
    background-color: #FF6600;
    color: white;
}

.chartViewTitle {
    font-weight: bold;
    /*text-decoration:underline;*/
}

/** SUI Overrides **/

.nav-pills > li > a,
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
    color: #337ab7;
    border: 1px solid #2e6da4;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #fff;
    border: 1px solid #2e6da4;
    background-color: #337ab7;
}

tab-heading a.glyphicon.glyphicon-remove-circle {
    color: #337ab7;
    text-decoration: none;
    top: 2px;
}

li.active tab-heading a.glyphicon.glyphicon-remove-circle {
    color: #fff;
    text-decoration: none;
    top: 2px;
}

.tab-content-pane-pills {
    border: 0;
}

.ngViewport {
    overflow-x: hidden;
}
