<!doctype html>
<html lang="en" ng-app="SUIApplication" ng-cloak class="ng-cloak" ng-controller="SUIApplicationController">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{suiService.getApplicationContext() != null ? suiService.getApplicationContext().title : "<NO_NAME>"}}</title>

	<link rel="stylesheet" href="web-library/css/bootstrap.css">
	<link rel="stylesheet" href="web-library/css/nv.d3.css">
	<link rel="stylesheet" href="web-library/css/ng-grid.css">
	<!-- <link rel="stylesheet" href="web-library/css/ui-grid.css"> -->
	<link rel="stylesheet" href="web-library/css/jstree_default_style.css">

	<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
	<link rel="stylesheet" href="web-library/css/jquery.fileupload.css">
	<link rel="stylesheet" href="web-library/css/jquery.fileupload-ui.css">

	<link rel="stylesheet" href="resources/sui/css/sui.css">

</head>

<body class="body body-main">
    <!-- Initialize application -->
    <busy-modal-dialog ng-if="showBusy" can-cancel-action="canCancelAction" wait-message="waitMessage" busy-modal-button-click="busyModalButtonClick(buttonId)">
    </busy-modal-dialog>
    <div class="full-size" ng-switch="appState">
        <div class="padding-16" ng-switch-when="APPLICATION_INIT_FAILED">
            <div class="alert alert-danger" role="alert">
                <strong>{{suiService.getApplicationContext() != null ? suiService.getApplicationContext().title : "Application"}} initialization failed. Please try after some time.</strong>
            </div>
        </div>
        <div class="full-size" ng-switch-when="APPLICATION_INITIALIZED">
            <div role='navigation' id='main-view-header' ng-include="suiService.getHeaderView()">
            </div>
            <div class="container-fluid" style="height:100%;">
                <div class="row" style="height:100%;">
                    <div ng-hide ng-show="suiService.getApplicationContext().showLeftMain" ng-if="suiService.getApplicationContext().showLeftMain" class="col-md-3" style="height:100%;">
                        <div ng-style="suiService.getApplicationContext().showSecondaryHeader ? {'margin-top':'120px'} : {'margin-top':'56px'}" id='main-left-view' role='main-left' class='main-view-left-content-pane main-view-content-pane' ng-scope ng-include="suiService.getApplicationContext().leftMainView"></div>
                    </div>
                    <div ng-class="{'col-md-9' : suiService.getApplicationContext().showLeftMain, 'col-md-12': !suiService.getApplicationContext().showLeftMain}" style="padding:0; margin:0; height:100%;">
                        <div ng-style="suiService.getApplicationContext().showSecondaryHeader ? {'padding-top':'120px'} : {'padding-top':'56px'}" class='workspace-switcher' role='main' id='main-view-workspace-switch' ng-include="suiService.getWorkspaceSwitchView()">
                        </div>
                        <div ng-view ng-hide='true' />
                    </div>
                </div>
            </div>
        </div>
        <!--
	<div id='main-view' ng-view class="ng-scope"></div>
	<div id='main-view-footer' ng-include="footerView" ng-hide="!suiService.getApplicationContext().showFooter" class="ng-hide"></div>
-->
		<div ng-switch-default>
			<img style="margin-top:10%" class="center-block" src="resources/sui/images/busy.gif" />
		</div>
	</div>

	<!-- TP JS libraries -->
	<script src="web-library/js/jquery-2.1.1.js"></script>
	<script src="web-library/js/angular.js"></script>
	<script src="web-library/js/angular-animate.js"></script>
	<script src="web-library/js/angular-resource.js"></script>
	<script src="web-library/js/angular-route.js"></script>
	<script src="web-library/js/angular-sanitize.js"></script>
<!--

	<script src="web-library/js/bootstrap.js"></script>
-->
	<script src="web-library/js/ui-bootstrap-tpls-0.12.1.js"></script>
	<script src="web-library/js/d3.js"></script>
	<script src="web-library/js/nv.d3.js"></script>
	<script src="web-library/js/topojson.js"></script>
	<script src="web-library/js/colorbrewer.js"></script>
	<script src="web-library/js/datamaps.all.min.js"></script>
	<script src="web-library/js/ng-grid-2.0.11.js"></script>	
	<script src="web-library/js/ng-grid-flexible-height.js"></script>	
	<!-- <script src="web-library/js/ui-grid.js"></script>	-->
	
    <script src="web-library/js/jstree.js"></script>
    <script src="web-library/js/ngJsTree.js"></script>

    <script src="web-library/js/moment.js" type="text/javascript"></script>
    <script src="web-library/js/later.js" type="text/javascript"></script>
    <script src="web-library/js/prettycron.js" type="text/javascript"></script>
	
<!-- File Upload -->

	<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
	<script src="web-library/js/jquery.ui.widget.js"></script>
	<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
	<script src="web-library/js/jquery.iframe-transport.js"></script>
	<!-- The basic File Upload plugin -->
	<script src="web-library/js/jquery.fileupload.js"></script>
	<!-- The File Upload processing plugin -->
	<script src="web-library/js/jquery.fileupload-process.js"></script>
	<!-- The File Upload validation plugin -->
	<script src="web-library/js/jquery.fileupload-validate.js"></script>
	<!-- The File Upload Angular JS module -->
	<script src="web-library/js/jquery.fileupload-angular.js"></script>	
	
    <!-- Atmosphere -->
    <script src="javascript/atmosphere.js"></script>	

	<!-- Resource bundles -->
	<script src="resources/sui/bundle/SUIResourceBundle_en.js"></script>

	<script src="web-library/js/stacktrace.js"></script>	

	<!-- SUI JS Libraries -->
	<script src="resources/sui/js/sui.js"></script>

	<script src="web-library/js/require.js"></script>

	<script src="resources/sui/js/directives.js"></script>
	<script src="resources/sui/js/filters.js"></script>
	<script src="resources/sui/js/controllers.js"></script>
	<script src="resources/sui/js/services.js"></script>
	<script src="resources/sui/js/charting_service.js"></script>
	<script src="_app.js"></script>	

</body>

</html>
