<div class="busy-panel">
    <div class='busy-overlay-panel'>
    </div>
    <div class='busy-model-dialog' style="cursor:progress;">
        <div class="modal-dialog sui-view-busy-modal-dialog app-view-busy-modal-dialog">
            <div class="modal-content" style="padding:0px;">
                <div class="modal-body" style="z-index:965; padding:8px;cursor:auto;">
                    <table class="full-width">
                        <tr>
                            <td>
                                <img class="busy-progress-generic-icon" src="resources/sui/images/busy_32.gif"></img>
                            </td>
                            <td class="padding-lr-8">
                                <h4 class="">{{waitMessage}}</h4>
                            </td>
                        </tr>
                    </table>
                    <div ng-if="showProgressPercent" class="row">
                        <div class="padding-4" />
                        <div ng-class="{'col-md-10':canCancelAction, 'col-md-12':!canCancelAction}" ng-style="canCancelAction ? {'padding-right':'0px'}:{}">
                            <progressbar class="progress-striped active busy-progress-bar" max="100" value="(!suiService.isNull(progressPercent)) ? (progressPercent | number : 0) : 100">
                                <div class="busy-progress-bar-percent-text">
                                    {{SUIService}} &nbsp; {{!suiService.isNull(progressPercent) ? ((progressPercent | number : 0) + '%') : ''}}
                                </div>
                            </progressbar>
                        </div>
                        <div ng-show="canCancelAction" class="col-md-2" style="padding-left:0px; text-align:right;">
                            <button class="btn btn-warning btn-xs busy-cancel-button" ng-click="buttonClicked('cancel')">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
