<div ng-style="{'display':!isHide ? 'inline-block' : '', 'position' : 'relative'}" ng-show="!suiService.isNull(cmdObject) && cmdObject.name" class="{{cmdObject.type === suiService.TYPE_MENU_COMMAND ? 'dropdown' : ''}}" is-open="cmdObject.isopen" on-toggle="fixPosition(open)" ng-attr-dropdown="{{cmdObject.type === suiService.TYPE_MENU_COMMAND ? 'true' : undefined}}")>

    <sui-command-button ng-show="!isHide" cmd-object="cmdObject" ng-click="executeItemCommand(cmdObject.name)" ng-class="cmdObject.class + (!isItemCommandEnabled(cmdObject) ? (cmdObject.disabledClass ? ' ' + cmdObject.disabledClass : ' disabled-link') : '')" class="{{cmdObject.type === suiService.TYPE_MENU_COMMAND ? 'dropdown-toggle' : ''}}" ng-disabled="!isItemCommandEnabled(cmdObject)" popover="{{cmdObject.tooltip}}" popover-trigger="mouseenter" popover-placement="left" popover-append-to-body="true" ng-attr-dropdown-toggle="{{cmdObject.type === suiService.TYPE_MENU_COMMAND ? '' : undefined}}"></sui-command-button>

    <ul ng-attr-id="{{'CMD_LIST_VIEW_' + (containerScope.parentViewID ? containerScope.parentViewID + '_' : '') + cmdObject.name}}" ng-if="cmdObject.type === suiService.TYPE_MENU_COMMAND" class="{{cmdObject.type === suiService.TYPE_MENU_COMMAND ? 'dropdown-menu' : ''}} padding-tb-8" role="menu" style=" z-index:5000;" ng-class="cmdObject.menuClass" ng-style="{'top': cmdObject.top ? cmdObject.top : 'auto', 'right': cmdObject.right ? cmdObject.right : 0, 'left' : cmdObject.left ? cmdObject.left : 'auto'}"  ng-attr-dropdown-menu="{{cmdObject.type === suiService.TYPE_MENU_COMMAND ? 'true' : undefined}}">
        <li ng-init="suiService.MenuItemBuilder._processMenuItem(menuItem, containerScope, executionScope)" ng-repeat="menuItem in cmdObject.menuItems track by $index" ng-class="{'divider': menuItem.type === suiService.MENU_ITEM_SEPARATOR, 'text-left': cmdObject.align === suiService.ALIGN_LEFT, 'text-center': cmdObject.align === suiService.ALIGN_CENTER, 'text-right': cmdObject.align === suiService.ALIGN_RIGHT, 'padding-lr-8' :  menuItem.type !== suiService.MENU_ITEM_SEPARATOR}">

            <p ng-if="menuItem.type === suiService.MENU_ITEM_STATIC_TEXT" ng-class="menuItem.style" ng-bind-html="menuItem.param"></p>

            <sui-command-button class="display-inline-block-strict padding-0 padding-tb-4 full-size" ng-if="menuItem.type === suiService.MENU_ITEM_SINGLE_COMMAND" cmd-object="menuItem.data" ng-click="executeItemCommand(menuItem.data.name)" ng-class="menuItem.data.class + (!isItemCommandEnabled(menuItem.data) ? ' disabled-link' : '')" ng-disabled="!isItemCommandEnabled(menuItem.data)" regular-item="true"></sui-command-button>

            <div class="btn-group" ng-if="menuItem.type === suiService.MENU_ITEM_MULTI_COMMANDS">

                <sui-command-button ng-repeat="menuItemData in menuItem.data track by $index" cmd-object="menuItemData" is-enabled="isItemEnabled(menuItemData.name)" ng-click="executeItemCommand(menuItemData.name)" ng-class="menuItemData.class + (!isItemCommandEnabled(menuItemData) ? ' disabled-link' : '')" ng-model="containerScope[menuItem.name].radioModel" ng-disabled="!isItemCommandEnabled(menuItemData)" btn-radio="menuItemData.name"></sui-command-button>

            </div>

            <div ng-click="$event.stopPropagation()" ng-if="menuItem.type === suiService.MENU_ITEM_TEMPLATE" compile-template ng-bind-html="menuItem.data">

            </div>

        </li>
    </ul>
</div>
