<div ng-if="!hideHeader">
    <div ng-class="'alert {{dialogTypeClass}}'" style="border-bottom-left-radius:0; border-bottom-right-radius:0;">
        <strong><i ng-if="dialogTitleIconClass" ng-class="'{{dialogTitleIconClass}}'">&nbsp;</i>{{dialogTitle}}</strong>
    </div>
</div>

<div ng-if="!hideBody" class="modal-body">{{dialogMessage}}</div>
<div ng-if="!hideFooter" class="modal-footer">
    <button id="genericDialogOkButton" auto-focus="true" ng-if="!hideOkButton" class="btn btn-primary" ng-keypress="handleKeyPress($event)" ng-click="closeDialog(suiService.DIALOG_OK, $event)">{{okButtonTitle ? okButtonTitle : 'OK'}}</button>
    <button ng-if="!hideCancelButton" class="btn btn-warning" ng-click="$close(suiService.DIALOG_CANCEL)">{{cancelButtonTitle ? cancelButtonTitle : 'Cancel'}}</button>
</div>