<form class="form-horizontal" role="form">
    <div class="sui-property-viewer-item" ng-class-even="fieldContainerEvenOverride" ng-class-odd="fieldContainerOddOverride" ng-repeat="field in fieldsToDisplay | filter:(parentScope.shouldIncludeProperty ? parentScope.shouldIncludeProperty(bean) : suiService._shouldIncludeField(bean))">
        <div ng-class="fieldContainerOverride" class="form-group form-no-left-right-margin sui-property-field-container">
            <label ng-class="labelContainerOverride" class="control-label ng-scope">{{getPropertyName(field)}}</label>
            <div ng-class="valueContainerOverride">
                <p class="form-control-static">{{getPropertyValue(field)}}</p>
            </div>
        </div>
    </div>
</form>
