<div ng-controller="SUIResourceController">
    <div id="resourcesListGrid" class="gridStyle" ng-grid="gridOptions" ng-if="resourcesList && resourcesList.length > 0">
    </div>

    <div ng-if="!resourcesList || resourcesList.length === 0" class="well well-lg">
        No Resources found!
    </div>
    <iframe src="about:blank" style="display:none;height:0px;width:0px;" name="fileDownloadTarget"></iframe>
</div>
