<div class="modal-header">
    <h4 class="modal-title">Resource Upload</h4>
</div>

<div class="modal-body" style="padding-bottom:8px;">
    <ng-include src="'resources/sui/templates/html/fileUploadDialog.html'"></ng-include>
</div>

<div class="modal-footer" style="margin:0;">
    <button class="btn btn-warning" ng-click="cancel()">Close</button>
</div>