<tabset class="worspace-switcher-tabs" type="{{suiService.getApplicationContext().workspaceSwitcherType}}">
    <tab ng-repeat="workspace in suiService.getAllWorkspaces()" select="suiService.navigateToWorkspace(workspace.name)" active="workspace.active" class="{{suiService.getApplicationContext().workspaceSwitcherType === 'pills' ? 'header-tab-pills' : ''}}">
        <tab-heading><i ng-class='workspace.iconClass'></i>&nbsp;{{workspace.title}}</tab-heading>
        <div id='main-view' ng-style="suiService.getApplicationContext().showSecondaryHeader ? (suiService.getApplicationContext().workspaceSwitcherType !== 'pills' ? {'margin-top':'170px'} : {'margin-top':'174px'}) : (suiService.getApplicationContext().workspaceSwitcherType !== 'pills' ? {'margin-top':'106px'} : {'margin-top':'110px'})" ng-class="{'main-view-content-pane': suiService.getApplicationContext().workspaceSwitcherType !== 'pills', 'main-view-content-pane main-view-content-pane-pills': suiService.getApplicationContext().workspaceSwitcherType === 'pills'}" ng-scope>
            <div on-element-init="suiService.workspaceRendered(workspace)" ng-if="workspace.loaded || workspace.active" ng-include="workspace.contentsURL"></div>
        </div>
    </tab>
</tabset>
